<h1>Securemon Web App</h1>
<p>Welcome to securemon monitoring solution</p>
</div>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

<%= link_to image_tag("/assets/securemon.jpg", alt: "Securemon"), 'http://rubyonrails.org/' %>

